* {
    margin: 0;
    padding: 0;
}

.container {
    min-width: 1200px;
    width: 100%;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
}

.header-bg {
    background-image: url("../img/bg 1.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 1920px;
    width: 100%;
    height: 1012px;
    background-size: cover;
}

.nav-top-bg {
    background: rgba(94, 93, 88, 0.6);
    height: 120px;
    border: 1px solid rgba(94, 93, 88, 0.6);
}

.nav-top {
    width: 1160px;
    display: flex;
    justify-content: center;
    gap: 350px;
    margin: 0 auto;
    align-items: center;
    height: 100%;
}

.nav-top-logo {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.nav-top-logo-img {
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    text-decoration: none;
    background: #1acfab;
    padding: 15px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.nav-top-logo-text {
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-top-logo-text-part {
    color: #1acfab;
    font-weight: bold;
}

.nav-top-items {
    display: flex;
    gap: 30px;
    height: 100%;
}

.nav-top-item {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-top-item.active-border:hover {
    color: #1acfab;
    border-bottom: 2px solid #1acfab;
}

.nav-top-img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.nav-top-img path{
    fill: rgba(255, 255, 255, 0.6);
}

.nav-top-img:hover path{
    fill: #1acfab;
}

.header-desc {
    margin-top: 150px;
}

.header-title {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-title-part {
    color: #1acfab;
}

.header-slogan {
    font-weight: bold;
    font-size: 78px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-subtitle {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 135px;
}

.header-btn {
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 17px;
    background: #18CFAB;
    border: none;
    border-radius: 5px;
    box-shadow: 0px -7px #FFFFFF;
    cursor: pointer;
}

.blue {
    padding: 16px 11px;
    background: #00CBF6;
}

.services-images {
    display: flex;
    margin-top: 5px;
}

.service-image-block {
    width: 482px;
    height: 300px;
    background: #18CFAB;
    box-sizing: border-box;

}

.service-image {
    margin: 80px auto 40px;
    display: block;
}
.service-image-dark{
    margin-top: 60px;
}

.service-image-desc {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
}

.white {
    color: #FFFFFF;
}

.dark {
    background: #1C2A33;
}

.block-title {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
    margin-top: 80px;
}
.lines{
    margin: 25px auto 0;
    width: 90px;
    display: block;
}
.block-title-line {
    width: 79px;
    height: 2px;
    background: #18CFAB;
    border: none;
    margin-bottom: 3px;
}

.block-title-line2 {
    margin-left: 20px;
}

.services-nav {
    width: 1160px;
    margin: 70px auto 30px;
    display: flex;
    list-style: none;
}

.service-nav-item {
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    color: #717171;
    text-decoration: none;
    width: 194px;
    height: 72px;
    background: #F8FCFE;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    padding-top: 16px;
    cursor: pointer;
}

.service-nav-item.active {
    color: #FFFFFF;
    background: #18CFAB;
    clip-path: polygon(100% 0, 100% 85%, 63% 85%, 50% 100%, 37% 85%, 0 85%, 0 0);
    height: 85px;
}

.service-nav-item:hover {
    border: 1px solid #18CFAB;
}

/*.service-nav-item:focus {*/
/*    background: #18CFAB;*/
/*    border: none;*/
/*    clip-path: polygon(100% 0, 100% 85%, 63% 85%, 50% 100%, 37% 85%, 0 85%, 0 0);*/
/*    height: 85px;*/
/*    color: #FFFFFF;*/
/*}*/

.service-nav-descriptions{
    list-style: none;
}

.service-nav-desc{
    display: none;
}

.service-nav-desc.active-card {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    gap: 15px;
    align-items: flex-start;
}


.service-nav-img {
    width: 192px;
    height: 139px;
}

.service-nav-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    margin-top: -5px;
    margin-bottom: 90px;
}

.block-bg {
    background-image: url("../img/bg 2.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1920px;
    width: 100%;
    height: 500px;
}

.block-slogan {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 125px;
}

.block-slogan-desc {
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
    margin-bottom: 70px;
}

.block-btn {
    margin: 0 auto;
    display: block;
}

.gallery-bg {
    background: #E9EDEF;
    /*min-height: 1200px;*/
    /*height: 100%;*/
}

.gallery-title {
    padding-top: 95px;
    margin-top: -25px;
}

.gallery-nav {
    width: 700px;
    height: 60px;
    margin: 70px auto;
    display: flex;
    list-style: none;
}

.gallery-nav-item {
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    text-align: center;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    padding: 10px 25px;
    cursor: pointer;
}

.gallery-nav-item:hover {
    border: 1px solid #18CFAB;
    color: #18CFAB;
}

.gallery-nav-item.active-nav-item{
    border: 2px solid #18CFAB;
    color: #18CFAB;
}

.gallery-block{
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
    margin: 0 auto;
    gap: 0;
}

.gallery-block.active-gallery-block{
    padding-bottom: 100px;
}

.gallery-images{
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
    margin: 0 auto;
    gap: 0;
    justify-content: center;
    align-items: center;
}

.gallery-images-block2{

}

.gallery-images-block2.active-gallery{
    display: flex;
}

.gallery-images-block3{
    display: none;
}

.gallery-images-block3.active-gallery{
    display: flex;
}


.gallery-item {
    position: relative;
    width: 285px;
    height: 211px;
    display: none;
    cursor: pointer;
}

.gallery-item.active-item{
    display: block;
}

.gallery-desc {
    box-sizing: border-box;
    width: 285px;
    height: 211px;
    border-top: 3px solid #18CFAB;
    /*display: none;*/
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #E9EDEF;
}

.gallery-desc-images {
    margin: 50px auto 0;
    display: flex;
    width: 90px;
    gap: 3px;
}

.gallery-desc-image1{
    position: relative;
}

.gallery-desc-image2 {
    position: relative;
}

.gallery-desc-image1:hover .gallery-desc-elem1 path{
    fill: whitesmoke;
}

.gallery-desc-image1:hover .gallery-desc-elem2{
    display: none;
}

.gallery-desc-image1:hover .gallery-desc-elem4{
    display: block;
    padding: 1px;
}

.gallery-desc-image2:hover .gallery-desc-elem2{
    display: none;
}

.gallery-desc-image2:hover .gallery-desc-elem3 rect{
    fill: whitesmoke;
}

.gallery-desc-image2:hover .gallery-desc-elem4{
    display: block;
    padding: 1px;
}

.gallery-desc-elem1{
    position: absolute;
    top: 14px;
    left: 14px;
}

.gallery-desc-elem3{
    position: absolute;
    top: 16px;
    left: 16px;
}
.gallery-desc-elem3 rect{
    fill: #18CFAB;
}

.gallery-desc-elem4{
    display: none;
}

.gallery-desc-title {
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
    margin-top: 20px;
}

.gallery-desc-subtitle {
    font-weight: 300;
    font-size: 13px;
    line-height: 25px;
    color: #8A8A8A;
    text-align: center;
}

.gallery-img {
    width: 285px;
    height: 211px;
    box-sizing: border-box;
}

.gallery-desc:hover {
    opacity: 1;
    transition: 1s;
}
.gallery-btn-block{
    margin: 70px auto 0;
    display: block;
    width: 170px;
    padding-bottom: 100px;
}
.gallery-btn {
    width: 168px;
    height: 63px;
    background: #18CFAB;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.gallery-btn-block.none-button{
    display: none;
    height: 0;
}

.gallery-btn-img {
    margin-right: 15px;
    margin-top: 10px;
}


.news-gallery {
    width: 1160px;
    display: flex;
    flex-wrap: wrap;
    margin: 70px auto;
    gap: 35px;
}

.news-gallery-item {
    box-sizing: border-box;
    width: 263px;
    height: 280px;
    display: flex;
    flex-direction: column;
    background: #F8FCFE;
    border: 1px solid #F2F4F5;
    position: relative;
    text-decoration: none;
}
a:hover .news-gallery-date{
    background: #18CFAB;
}
a:hover .news-gallery-title{
    color: #18CFAB;
}
.news-gallery-date {
    position: absolute;
    width: 70px;
    height: 70px;
    background: #203E38;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    right: 0;
    box-sizing: border-box;
    padding: 15px 6px;
}

.news-gallery-img {

}

.news-gallery-title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #717171;
    padding-top: 10px;
}

.news-gallery-block {
    display: flex;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #777777;
    padding-left: 45px;
    padding-top: 10px;

}

.news-gallery-author {
    margin-right: 10px;
}

.news-gallery-comments {
    border-left: 1px solid #777777;
    padding-left: 10px;
}

.reviews-bg{
    background-image: url("../img/bg 3.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1920px;
    width: 100%;
    /*height: 100vh;*/
}
.reviews-title{
    color: #FFFFFF;
    padding-top: 100px;
}
.reviews-title-img{
    display: block;
   margin: 69px auto 35px;
}
.reviews-text{
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    width: 1160px;
    margin: 0 auto;
    color: #BBBBBB;
    display: none;
}
.reviews-text.active-text{
    display: block;
}

.reviews-person-name{
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    font-weight: bold;
    margin-top: 40px;
    display: none;
}
.reviews-person-name.active-person-name{
    display: block;
}
.reviews-person-position{
    font-size: 14px;
    text-align: center;
    color: #BBBBBB;
    margin-top: 15px;
    display: none;
}
.reviews-person-position.active-person-position{
    display: block;
}
.reviews-person-photo{
    width: 143px;
    height: 142px;
    border: 10px solid #1fdab533;
    border-radius: 110px;
    display: none;
    margin: 40px auto 50px;
}
.reviews-person-photo.active-person-photo{
    display: block;
}
.reviews-persons-images{
    display: flex;
    width: 500px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}
.reviews-person-img{
    width: 70px;
    height: 70px;
    border: 5px solid #1fdab533;
    border-radius: 110px;
    cursor: pointer;
}
.reviews-person-img.active-person-img{
    margin-top: -40px;
}
.reviews-person-form{
    border: 1px solid #BBBBBB;
    padding: 8px 10px;
    cursor: pointer;
}
.reviews-person-form path{
    fill: #BBBBBB;
}
.reviews-person-form:hover{
    background: #18CFAB;
    border: 1px solid #18CFAB;
}
.reviews-person-form:hover path{
    fill: #FFFFFF;
}
.reviews-person-img:hover{
    margin-top: -40px;
    transition: 0.7s;
}

.footer-bg{
    background: #22353F;
    height: 120px;
}

.author{
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    text-align: center;
    padding-top: 50px;
    margin-top: -2px;
}

.author-green{
    color: #18CFAB;
}

.bubblingG {
    text-align: center;
    width:78px;
    height:49px;
    margin: auto;
    display: none;
}

.bubblingG.active-bubbles{
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 100px;
}

.bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 24px auto;
    background: rgb(0,0,0);
    border-radius: 49px;
    -o-border-radius: 49px;
    -ms-border-radius: 49px;
    -webkit-border-radius: 49px;
    -moz-border-radius: 49px;
    animation: bubblingG 1.5s infinite alternate;
    -o-animation: bubblingG 1.5s infinite alternate;
    -ms-animation: bubblingG 1.5s infinite alternate;
    -webkit-animation: bubblingG 1.5s infinite alternate;
    -moz-animation: bubblingG 1.5s infinite alternate;
}

#bubblingG_1 {
    animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
}

#bubblingG_2 {
    animation-delay: 0.45s;
    -o-animation-delay: 0.45s;
    -ms-animation-delay: 0.45s;
    -webkit-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
}

#bubblingG_3 {
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
}

#bubblingG_4 {
    animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
}

#bubblingG_5 {
    animation-delay: 0.45s;
    -o-animation-delay: 0.45s;
    -ms-animation-delay: 0.45s;
    -webkit-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
}

#bubblingG_6 {
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
}

@keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:rgb(0,0,0);
        transform: translateY(0);
    }

    100% {
        width: 23px;
        height: 23px;
        background-color:rgb(255,255,255);
        transform: translateY(-20px);
    }
}

@-o-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:rgb(0,0,0);
        -o-transform: translateY(0);
    }

    100% {
        width: 23px;
        height: 23px;
        background-color:rgb(255,255,255);
        -o-transform: translateY(-20px);
    }
}

@-ms-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:rgb(0,0,0);
        -ms-transform: translateY(0);
    }

    100% {
        width: 23px;
        height: 23px;
        background-color:rgb(255,255,255);
        -ms-transform: translateY(-20px);
    }
}

@-webkit-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:rgb(0,0,0);
        -webkit-transform: translateY(0);
    }

    100% {
        width: 23px;
        height: 23px;
        background-color:rgb(255,255,255);
        -webkit-transform: translateY(-20px);
    }
}

@-moz-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:rgb(0,0,0);
        -moz-transform: translateY(0);
    }

    100% {
        width: 23px;
        height: 23px;
        background-color:rgb(255,255,255);
        -moz-transform: translateY(-20px);
    }
}


.grid {
    width: 1200px;
    height: 1000px;
    margin: 80px auto 0px;
}

.grid2{
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
}

.none-grid{
    display: none;
}

.grid-item{
    position: relative;
}

.cover-item-gallery{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.64);
    display: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.grid-item:hover .cover-item-gallery{
    display: flex;
}

.bg{
    padding: 8px 10px;
    background: #14B9D5;
}











